

.output_style{
  min-height:40px;
  width:308px;


  background-color: lightblue;


  text-align: right;
  font-size:30px;


  border: 12px groove gray;
  resize: none;
}


button{
  width:100px;

}
